fastapi
fastapi_utils
uvicorn
pymysql
passlib
pyjwt
sqlalchemy
pandas
python-multipart
cryptography
alembic
email-validator
password-validator
phonenumbers
apscheduler
pydantic
asyncpg
psycopg2
bcrypt
python-dotenv
mysqlclient
openpyxl