{% extends "./components/sidenav.html" %}{% load static %}{% block content %}
<div class="flex items-center justify-between pb-4 border-b">
  <h1 class="text-lg font-light">Backup & Restore</h1>
  <div class="flex items-center justify-center gap-3">
    <div
      class="text-sm font-light text-white transition rounded-none btn bg-blue-600/75 hover:bg-blue-700/75 btn-sm"
    >
      <span>Restore Database</span>
    </div>
  </div>
</div>

<div
  class="p-4 my-6 text-sm font-light leading-loose text-blue-600 bg-blue-500/20"
>
  Tombol
  <span class="font-normal text-white rounded-none btn btn-error btn-sm">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="20px"
      viewBox="0 -960 960 960"
      width="20px"
      fill="#fff"
    >
      <path
        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
      />
    </svg>
    <span>Delete</span>
  </span>
  : selain menghapus, juga akan membackup database sesuai pilihan, yang bisa
  direstore lagi suatu saat dibutuhkan. Lokasi file Backup anda, silahkan Lihat
  folder ==&gt; Downloads
</div>

<div class="mt-6 overflow-x-auto">
  <table class="table">
    <thead>
      <tr class="text-[14px] text-black">
        <th class="font-normal border">No</th>
        <th class="font-normal border">Jenis Data</th>
        <th class="font-normal border">Backup Database</th>
        <th class="font-normal border">Hapus Database</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="font-light text-center border">1</td>
        <td class="font-light border">
          <span class="text-primary">Data Sistem : </span>Mapel, Kelas, Siswa
        </td>
        <td class="font-light border">
          <div class="text-white rounded-none btn btn-sm btn-info">
            <i class="fas fa-edit" class="text-[20px]"></i>
            <span>BackUp</span>
          </div>
        </td>
        <td class="font-light border">
          <div class="text-white rounded-none btn btn-sm btn-error">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20px"
              viewBox="0 -960 960 960"
              width="20px"
              fill="#fff"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              />
            </svg>
            <span>Delete</span>
          </div>
        </td>
      </tr>

      <tr>
        <td class="font-light text-center border">2</td>
        <td class="font-light border">
          <span class="text-error">Semua Data Ujian : </span>Bank Soal, Data
          Hasil Ujian dan Media Pendukung
        </td>
        <td class="font-light border">
          <div class="text-white rounded-none btn btn-sm btn-info">
            <i class="fas fa-edit" class="text-[20px]"></i>
            <span>BackUp</span>
          </div>
        </td>
        <td class="font-light border">
          <div class="text-white rounded-none btn btn-sm btn-error">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20px"
              viewBox="0 -960 960 960"
              width="20px"
              fill="#fff"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              />
            </svg>
            <span>Delete</span>
          </div>
        </td>
      </tr>

      <tr>
        <td class="font-light text-center border">3</td>
        <td class="font-light border">
          <span class="text-primary">Data Hasil Ujian : </span>Data Ujian
          (kecuali Bank Soal dan Nilai)
        </td>
        <td class="font-light border">
          <div class="text-white rounded-none btn btn-sm btn-info">
            <i class="fas fa-edit" class="text-[20px]"></i>
            <span>BackUp</span>
          </div>
        </td>
        <td class="font-light border">
          <div class="text-white rounded-none btn btn-sm btn-error">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20px"
              viewBox="0 -960 960 960"
              width="20px"
              fill="#fff"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              />
            </svg>
            <span>Delete</span>
          </div>
        </td>
      </tr>

      <tr>
        <td class="font-light text-center border">4</td>
        <td class="font-light border">
          <span class="text-primary">Data Media Pendukung </span>
          (hanya data SQLnya, File media tidak terhapus)
        </td>
        <td class="font-light border">
          <div class="text-white rounded-none btn btn-sm btn-info">
            <i class="fas fa-edit" class="text-[20px]"></i>
            <span>BackUp</span>
          </div>
        </td>
        <td class="font-light border">
          <div class="text-white rounded-none btn btn-sm btn-error">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20px"
              viewBox="0 -960 960 960"
              width="20px"
              fill="#fff"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              />
            </svg>
            <span>Delete</span>
          </div>
        </td>
      </tr>

      <tr>
        <td class="font-light text-center border">5</td>
        <td class="font-light border">
          <span class="text-error">Semua Database</span>
        </td>
        <td class="font-light border">
          <div class="text-white rounded-none btn btn-sm btn-info">
            <i class="fas fa-edit" class="text-[20px]"></i>
            <span>BackUp</span>
          </div>
        </td>
        <td class="font-light border">
          <div class="text-white rounded-none btn btn-sm btn-error">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20px"
              viewBox="0 -960 960 960"
              width="20px"
              fill="#fff"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              />
            </svg>
            <span>Delete</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
