{% extends "./components/sidenav.html" %}{% load static %}{% block content %}
<div class="flex items-center justify-between pb-4 border-b">
  <h1 class="text-lg font-light">Data Kelas</h1>
  <div class="flex items-center justify-center gap-1">
    <div class="text-sm font-light text-white rounded-none btn bg-info btn-sm">
      <i class="fas fa-cloud-upload-alt" class="text-[15px]"></i>
      <span>Upload Data Kelas</span>
    </div>
    <div
      class="text-sm font-light text-white rounded-none btn bg-accent btn-sm"
    >
      <i class="fas fa-cloud-download-alt" class="text-[15px]"></i>
      <span>Rekap Excel Kelas</span>
    </div>
    <div
      class="text-sm font-light text-white bg-blue-600 rounded-none btn btn-sm"
    >
      <i class="fa fa-plus-circle" class="text-[15px]"></i>
      <span>Tambah Kelas & Jurusan</span>
    </div>
  </div>
</div>

<div class="mt-6 overflow-x-auto">
  <table class="table">
    <thead>
      <tr class="text-[14px] text-black">
        <th class="font-normal border">Nomor</th>
        <th class="font-normal border">Kode Sekolah</th>
        <th class="font-normal border">Kode Level</th>
        <th class="font-normal border">Kode Kelas</th>
        <th class="font-normal border">Jurusan</th>
        <th class="font-normal border">Nama Kelas</th>
        <th class="font-normal border">Edit | Hapus</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border">
        <td class="font-light text-center border-x">1</td>
        <td class="font-light border-x">ALL</td>
        <td class="font-light border-x">IPS</td>
        <td class="font-light border-x">IPS</td>
        <td class="font-light border-x">IPS</td>
        <td class="font-light border-x">Sains-IPS</td>
        <td class="flex items-center gap-2 font-light border-x">
          <div class="text-white rounded-none btn btn-sm btn-info">
            <i class="fas fa-edit" class="text-[15px]"></i>
          </div>
          <div class="text-white rounded-none btn btn-sm btn-error">
            <i class="far fa-trash-alt" class="text-[15px]"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
