{% extends "./components/sidenav.html" %}{% load static %}{% block content %}
<div class="flex items-center justify-between pb-4 border-b">
  <h1 class="text-lg font-light">Daftar Jadwal Ujian</h1>
</div>

<div class="mt-6 overflow-x-auto">
  <table class="table">
    <thead>
      <tr class="text-[14px] text-black">
        <th class="font-normal border">No</th>
        <th class="font-normal border">Kode Ujian</th>
        <th class="font-normal border">Kelas</th>
        <th class="font-normal border">Kode Mapel</th>
        <th class="font-normal border">Kode Soal</th>
        <th class="font-normal border">Tgl Ujian</th>
        <th class="font-normal border">Token</th>
        <th class="font-normal border">Edit | Hapus</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="font-light text-center border">1</td>
        <td class="font-light border">UAS</td>
        <td class="font-light border">IPS-IPS</td>
        <td class="font-light border">PAI - PENDIDIKAN AGAMA ISLAM</td>
        <td class="font-light border">001</td>
        <td class="font-light border">2024-03-09</td>
        <td class="font-light border">YTPTG</td>
        <td class="flex items-center gap-2 font-light border">
          <div class="text-white rounded-none btn btn-sm btn-info">
            <i class="fas fa-edit" class="text-[15px]"></i>
          </div>
          <div class="text-white rounded-none btn btn-sm btn-error">
            <i class="far fa-trash-alt" class="text-[15px]"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="flex flex-col gap-2 p-6 mt-6 bg-slate-100">
  <span class="text-xl font-light text-purple-600"> SMA ABDUSSALAM-CBT </span>
  <span class="text-sm font-light">
    <span class="font-semibold">Fitur Database Ujian : </span>Edit, Hapus &
    Aktifkan ujian yang pernah terpakai tanpa aktifkan Bank Soal selama Bank
    Soal masih ada (belum dihapus) juga untuk Hapus Database yang tidak terpakai
    (Bank Soal telah dihapus).
  </span>
  <span class="text-sm font-light">
    <span class="font-semibold">PENTING : </span>Hati-hati menggunakan fitur
    Hapus di sini, karena akan menghapus database RCBTSync (database ujian).
    Backup dahulu Sebelum Hapus dan pastikan semua ujian sudah selesai dan data
    tidak terpakai lagi. Menghapus sebelum selesai hari ujian akan menyebabkan
    analisa tidak bisa didownload walau bank soal belum dihapus. Download dan
    cetak dulu analisa hasil ujian baru database boleh dihapus bila sudah tidak
    terpakai.
  </span>
</div>
{% endblock content %}
