{% extends "../base.html" %} {% load static %} {% block body %}
<div class="relative grid grid-cols-1 lg:grid-cols-2 lg:h-screen">
  <section class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="{% static 'img/carousel/1.jpg' %}" class="h-screen" />
        </li>
        <li class="splide__slide">
          <img src="{% static 'img/carousel/2.jpeg' %}" class="h-screen" />
        </li>
      </ul>
    </div>
  </section>

  <div>
    <div class="py-2 bg-base-300 text-slate-700">
      <div class="px-2 py-1 text-white shadow-lg bg-info w-max">
        NAMA SERVER
      </div>
      <div class="flex flex-col gap-1 p-8">
        <span class="text-xl lg:text-2xl">
          TERIMAKASIH TELAH MENGGUNAKAN CBT TEST INDONESIA - U13140051
        </span>
        <span class="lg:text-lg">
          SILAHKAN LAKUKAN PENGATURAN DI MENU ADMINISTRATOR
        </span>
        <span class="text-xs lg:text-sm">
          Web :
          <a href="/admin/login">https://cbttestindonesia.sch.id</a>
          - Telp : 0821-5598-1378
        </span>
      </div>
    </div>

    <div class="m-4 lg:m-16">
      <div class="mb-10">
        <h1 class="mb-6 text-xl lg:text-3xl text-slate-600">
          CBT TEST INDONESIA
        </h1>
        <p class="text-xs text-slate-500 lg:text-sm">
          Selamat datang di aplikasi CBT Test Indonesia. Silahkan masukkan
          Username dan Password yang telah diberikan
        </p>
      </div>

      <form class="flex flex-col gap-8 mb-16 lg:mb-0" method="POST">
        {% csrf_token %}
        <div>
          <div class="flex flex-col gap-8 lg:flex-row">
            <input
              required
              placeholder="Username"
              name="username"
              class="w-full h-8 bg-transparent border-b rounded-none input border-b-slate-500"
              value="{{ username }}"
            />
            <input
              required
              placeholder="Password"
              name="password"
              class="w-full h-8 bg-transparent border-b rounded-none input border-b-slate-500"
              value="{{ password }}"
            />
          </div>

          <div class="mt-2 text-sm font-bold text-error">{{ error }}</div>
        </div>

        <button
          type="submit"
          class="text-white rounded-none btn btn-accent btn-sm"
        >
          SUBMIT
        </button>
      </form>

      <div class="absolute text-sm text-slate-600 bottom-6 right-6">
        CBT TEST Indonesia - Copyright © 2023-2024
      </div>
    </div>
  </div>
</div>
{% endblock body %}
