{% extends "./components/sidenav.html" %}{% load static %}{% block content %}
<div class="flex items-center gap-6 pb-4 mb-4 font-light border-b">
  {% for link in link_items %}
  <a href="{{ link.path }}" class="transition text-info hover:text-black">
    {{ link.name }}
  </a>
  {% endfor %}
</div>

<div class="flex items-center justify-between pb-4 mb-4 border-b">
  <h1 class="text-lg font-light">Gambar</h1>
</div>

<div class="border">
  <div class="p-2 bg-gray-100 border-b">
    <div class="text-sm font-light text-white rounded-none btn bg-info btn-sm">
      <i class="fa fa-plus-circle" class="text-[15px]"></i>
      <span>Tambah Gambar</span>
    </div>
  </div>

  <div class="p-4">
    <div class="flex flex-col gap-2 p-6 mt-6 bg-slate-100">
      <span class="text-xl font-light text-purple-600">
        SMA ABDUSSALAM-CBT
      </span>
      <span class="text-sm font-light">
        Daftar File Media Gambar Pendukung Soal
      </span>
    </div>
  </div>
</div>
{% endblock content %}
